@{ 
    Layout = "";
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>

    <header id="header">
        <div class="header-top">

            <div class="container">
                <div class="contactinfo">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-phone"></i>
                                09359504672
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope "></i>
                                alinouriare@yahoo.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="social-icons">

                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus "></i>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-youtube"></i>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-linkedin "></i>

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="header-middle">
            <div class="container">
                <div class="logo">
                    <a href="#">
                        <img src="~/img/logo.png" />
                        <b>فروشگاه اینترنتی</b>
                    </a>
                </div>
                <div class="shop-menu">
                    <ul>

                        <li>
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                سبد خرید
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i>
                                ورود
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="mainmenu">
                    <ul>
                        <li>
                            <a href="/" class="active">خانه</a>
                        </li>


                        <li>
                            <a href="/">فروشگاه <i class="fa fa-angle-down"></i></a>

                            <ul>
                                <li><a href="#">محصولات</a></li>
                                <li><a href="#">جزییات محصول</a></li>
                                <li><a href="#">پرداخت</a></li>
                                <li><a href="#">سبدخرید</a></li>
                                <li><a href="#">ورود</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/">بلاگ<i class="fa fa-angle-down"></i></a>
                            <ul>
                                <li>
                                    <a href="/">بلاگ لیست</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/">تماس با ما</a>
                        </li>
                    </ul>



                </div>
                <div class="search-box">
                    <input type="text" placeholder="جستجو" />
                    <i class="fa fa-search"></i>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>

    @*<section id="slider">
      
        <div class="container">
            <div id="slider-carousel" class="carousel">

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-text">
                            <h1><span>فروشگاه من</span></h1>
                            <h2>اولین و بزرگترین فروشگاه اینترنتی</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                            <button type="button" class="btn">وارد شو</button>
                        </div>
                        <div class="carousel-image">
                            <img src="~/img/slider.jpg" alt="" />

                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
                <ol class="carousel-indicators">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ol>
                <a href="#slider-carousel" class="left control-carousel">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#slider-carousel" class="right control-carousel">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </section>*@

    <section>
        <div class="container">
            <div class="sidebar">
                <h2 class="subject">دسته بندی</h2>
                <div class="category-products">
                    <!--category-productsr-->
                    <ul>
                        <li><a href="#">کودک</a></li>
                        <li><a href="#">مردانه</a></li>
                        <li><a href="#">زنانه</a></li>
                        <li><a href="#">لباس خواب</a></li>
                        <li><a href="#">کیف</a></li>
                        <li><a href="#">کفش</a></li>
                        <li><a href="#">دمپایی</a></li>
                        <li><a href="#">کمربند</a></li>
                        <li><a href="#">شال و روسری</a></li>
                        <li><a href="#">کلاه</a></li>
                        <li><a href="#">عینک</a></li>
                        <li><a href="#">پیراهن</a></li>
                        <li><a href="#">تیشرت</a></li>
                        <li><a href="#">شومیز</a></li>
                    </ul>

                </div>
            </div>


            <div class="content">
                <h2 class="subject">محصولات</h2>

                <div class="features_items">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo ">
                                <img src="~/img/gallery1.jpg" alt="" />
                                <h2>۲۵۰ هزار تومان</h2>
                                <p>لورم ایپسوم متن ساختگی</p>
                                <a href="#" class="btn  add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبد</a>
                            </div>

                        </div>
                        <div class="choose">
                            <ul>
                                <li><a href="#"><i class="fa fa-plus-square"></i>افزودن به لیست</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo ">
                                <img src="~/img/gallery2.jpg" alt="" />
                                <h2>۲۵۰ هزار تومان</h2>
                                <p>لورم ایپسوم متن ساختگی</p>
                                <a href="#" class="btn  add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبد</a>
                            </div>

                        </div>
                        <div class="choose">
                            <ul>
                                <li><a href="#"><i class="fa fa-plus-square"></i>افزودن به لیست</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo ">
                                <img src="~/img/gallery3.jpg" alt="" />
                                <h2>۱۰۰ هزار تومان</h2>
                                <p>لورم ایپسوم متن ساختگی</p>
                                <a href="#" class="btn  add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبد</a>
                            </div>

                        </div>
                        <div class="choose">
                            <ul>
                                <li><a href="#"><i class="fa fa-plus-square"></i>افزودن به لیست</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo ">
                                <img src="~/img/gallery4.jpg" alt="" />
                                <h2>۴۵ هزار تومان</h2>
                                <p>لورم ایپسوم متن ساختگی</p>
                                <a href="#" class="btn  add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبد</a>
                            </div>

                        </div>
                        <div class="choose">
                            <ul>
                                <li><a href="#"><i class="fa fa-plus-square"></i>افزودن به لیست</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo ">
                                <img src="~/img/product5.jpg" alt="" />
                                <h2>۱۹۰ هزار تومان</h2>
                                <p>لورم ایپسوم متن ساختگی</p>
                                <a href="#" class="btn  add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبد</a>
                            </div>

                        </div>
                        <div class="choose">
                            <ul>
                                <li><a href="#"><i class="fa fa-plus-square"></i>افزودن به لیست</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo ">
                                <img src="~/img/product6.jpg" alt="" />
                                <h2>۱۷۸ هزار تومان</h2>
                                <p>لورم ایپسوم متن ساختگی</p>
                                <a href="#" class="btn  add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبد</a>
                            </div>

                        </div>
                        <div class="choose">
                            <ul>
                                <li><a href="#"><i class="fa fa-plus-square"></i>افزودن به لیست</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>


                </div>


                <div class="category-tab">
                    <!--category-tab-->
                    <ul>
                        <li><a href="#" class="active">ساعت</a></li>
                        <li><a href="#">پیراهن</a></li>
                        <li><a href="#">تیشرت</a></li>
                        <li><a href="#">شلوار</a></li>
                        <li><a href="#">بلوز</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo ">
                                    <img src="~/img/gallery1.jpg" alt="" />
                                    <h2>۲۵۰ هزار تومان</h2>
                                    <p>لورم ایپسوم متن ساختگی</p>
                                    <a href="#" class="btn  add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبد</a>
                                </div>

                            </div>
                        </div>
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo ">
                                    <img src="~/img/gallery2.jpg" alt="" />
                                    <h2>۲۵۰ هزار تومان</h2>
                                    <p>لورم ایپسوم متن ساختگی</p>
                                    <a href="#" class="btn  add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبد</a>
                                </div>

                            </div>
                        </div>
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo ">
                                    <img src="~/img/gallery3.jpg" alt="" />
                                    <h2>۲۵۰ هزار تومان</h2>
                                    <p>لورم ایپسوم متن ساختگی</p>
                                    <a href="#" class="btn  add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبد</a>
                                </div>

                            </div>
                        </div>
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo ">
                                    <img src="~/img/gallery4.jpg" alt="" />
                                    <h2>۲۵۰ هزار تومان</h2>
                                    <p>لورم ایپسوم متن ساختگی</p>
                                    <a href="#" class="btn  add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبد</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>




    </section>

    <footer id="footer">

        <div class="footer-widget">
            <div class="container">
                <div class="single-widget">
                    <h2>خدمات</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">کمک آنلاین</a></li>
                        <li><a href="#">تماس باماus</a></li>
                        <li><a href="#">تغییر آدرس</a></li>
                        <li><a href="#">پرسش‌های متداول</a></li>
                    </ul>
                </div>
                <div class="single-widget">
                    <h2>فروشگاه</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">تیشرت</a></li>
                        <li><a href="#">مردانه</a></li>
                        <li><a href="#">زنانه</a></li>
                        <li><a href="#">کارت هدیه</a></li>
                        <li><a href="#">کفش</a></li>
                    </ul>
                </div>
                <div class="single-widget">
                    <h2>قوانین</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">حریم شخصی</a></li>
                        <li><a href="#">قوانین حقوقی</a></li>
                        <li><a href="#">قوانین حقیقی</a></li>
                        <li><a href="#">ثبت سفارش</a></li>
                        <li><a href="#">پشتیبانی</a></li>
                    </ul>
                </div>
                <div class="single-widget">
                    <h2>درباره فروشگاه</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">درباره شرکت</a></li>
                        <li><a href="#">حمل و نقل</a></li>
                        <li><a href="#">آدرس ما</a></li>
                        <li><a href="#">برنامه‌های آینده</a></li>
                        <li><a href="#">حریم شخصی</a></li>
                    </ul>
                </div>
                <div class="single-widget">
                    <h2>خبرنامه فروشگاه</h2>
                    <form action="/" class="searchform">
                        <input type="text" placeholder="آدرس ایمیل شما" />
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم  </p>
                        <button>Send</button>

                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p> کلیه حقوق برای سازنده این سایت محفوظ است.</p>
            </div>
        </div>
    </footer>

</body>
</html>