@*@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity



@inject UserManager<ApplicationUsers> _userManger
@inject IHttpContextAccessor _ht




@{

    var user = await _userManger.GetUserAsync(_ht.HttpContext.User);




}*@


<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>صفحه شروع | کنترل پنل</title>
    <!-- Tell the browser to be responsive to screen width -->


    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/adminpanelfiles/dist/css/bootstrap-theme.css">


    <!-- Bootstrap rtl -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/adminpanelfiles/dist/css/rtl.css">
    <!--for Graphical checkBox And Radio-->

    <link href="~/adminpanelfiles/iCheck/all.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminpanelfiles/bowercomponents/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/adminpanelfiles/bowercomponents/Ionicons/css/ionicons.min.css">


    <!--JsTree Css-->
    <link href="~/jstree/themes/default/style.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminpanelfiles/dist/css/AdminLTE.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="~/adminpanelfiles/dist/css/skins/skin-blue.min.css">



  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">


        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">پنل</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>کنترل پنل مدیریت</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <!--Start nav-->
            @*@Html.Partial("_navPartial")*@
            <!--End nav-->
        </header>
        <!--start right side column. contains the logo and sidebar -->
        @*@Html.Partial("_asidePartial")*@
        <!--End aside-->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h4>
                    @ViewBag.ViewTitle
                </h4>
                @*<ol class="breadcrumb">
                        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> خانه</a></li>
                        <li class="active">صفحه</li>
                    </ol>*@
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                @RenderBody()
                <!--------------------------
                | Your Page Content Here |
                -------------------------->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        @*<footer class="main-footer text-left">
                <strong></strong>
            </footer>*@

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                @*<li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>*@
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading"></h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">تولد dd  ddd</h4>

                                    <p>dddd</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    @*<h3 class="control-sidebar-heading">پیشرفت کارها</h3>
                        <ul class="control-sidebar-menu">
                            <li>
                                <a href="javascript:;">
                                    <h4 class="control-sidebar-subheading">
                                        آپدیت لاراول
                                        <span class="pull-left-container">
                                            <span class="label label-danger pull-left">70%</span>
                                        </span>
                                    </h4>

                                    <div class="progress progress-xxs">
                                        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>*@
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                @*<div class="tab-pane" id="control-sidebar-stats-tab">تب وضعیت</div>*@
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                @*<div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">تنظیمات عمومی</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">*@

                @*<input type="checkbox" class="pull-left" checked>
                    </label>*@

                @*<p>
                        ثبت تمامی فعالیت های مدیران
                    </p>*@
                @*</div>*@
                <!-- /.form-group -->
                @*</form>
                    </div>*@
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <script src="~/adminpanelfiles/bowercomponents/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/adminpanelfiles/bowercomponents/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminpanelfiles/dist/js/adminlte.min.js"></script>
    <!--Jquery For Graphical CheckBox And Radio-->
    <script src="~/adminpanelfiles/iCheck/icheck.min.js"></script>
    <!--JsTree jquery-->
    <script src="~/jstree/jstree.js"></script>



   
    @* chart js *@
    <script src="~/js/chart/jquery.flot.js"></script>
    <script src="~/js/chart/jquery.flot.pie.js"></script>

    @RenderSection("PanelScripts", required: false)
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->
</body>
</html>