@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    #conf {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0PX;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

</style>
    <div class="container">
        <div class="cart_info">
            <div class="text-danger" asp-validation-summary="All"></div>
            <form asp-action="Login" asp-controller="Account" method="post">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <div><span asp-validation-for="Name" class="text-danger"></span></div>
                    <input id="conf" asp-for="Name" class="form-control" placeholder="Enter Username" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div><span asp-validation-for="Password" class="text-danger" ></span></div>
                    <input id="conf" asp-for="Password" class="form-control" placeholder="Enter Password" />
                </div>
                <button class="btn btn-primary" type="submit">ورود</button>
            </form>
        </div>
    </div>

