
@{
    ViewData["Title"] = "Select2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">


        <div class="form-group">
            @*<select class="select2-ajax" multiple="multiple" style="width:500px;">
            </select>*@
            <input class="select2-ajax" />
        </div>


        <div class="form-group">
            <select class="select2-ajax-template form-control" style="width:500px;">
            </select>

         
        </div>

       

    </div>


@section Scripts{

    <script src="~/js/select2.js"></script>
  
}