@model CreateRole
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}





@{

    List<AppRole> setlevel = ViewBag.LevelSet;
}

   
<style>
    .circleInput {
        border-radius: 3px;
    }
</style>

<div class="row center-block box box-primary" style="box-shadow:2px 2px 7px 3px gray;">
    <div class="col-md-4 col-md-offset-4" style="margin-bottom:15px; margin-top:15px;">
        <form asp-area="Admin" asp-controller="Role" asp-action="Create" method="post">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            @* نام نقش *@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control circleInput" placeholder="نام نقش را وارد نمایید" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            @* نام بخش *@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control circleInput" placeholder="نام بخش را وارد نمایید" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            @* انتخاب زیردسته *@
        <div class="form-group">
            <label asp-for="RoleLevel" class="control-label"></label>

            <select asp-for="RoleLevel" asp-items="@(new SelectList(setlevel,"Id","Name"))" class="form-control circleInput"></select>

            <span asp-validation-for="Description" class="text-danger"></span>
        </div>


            <div class="form-group">
                <input type="submit" value="ایجاد" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">بازگشت</a>
            </div>

        </form>

        @*@if (ViewBag.SuccessMessage != "")
            {
                <span style="color:green;">
                    @ViewBag.SuccessMessage
                </span>
            }*@


    </div>

</div>



