@model VerifyResponse
@{
    ViewData["Title"] = "PaymentCompelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>پرداخت شما با موفقیت انجام شد</h2>
    <p>کد رهگیری  @Model.transId</p>
</div>


